.side-bar {
    background-color: white;
    position: fixed;
    width: 72px;
    left: 0;
    top: 55px;
    bottom: 0;
    width: 80px;
    margin-right: 50px;
    border-right-width: 1px;
    border-right-color: rgb(227, 227, 227);
    border-right-style: solid;
}