
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.thumbnails{
    width: 100%;
    
}
.profile-picture {
    width: 100%;
    border-radius: 30px;
}
.video-author, .stats {
    font-size: 13px;
    color: rgb(177, 177, 177);
}
.video-author {
    margin-bottom: 4px;
}
.video-preview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 36px;
}
.channel-picture {
    width: 82%;
}

.title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}
.thumbnail-row {
    margin-bottom: 10px;
    position: relative;
}
.video-time {
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    
}